/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --background: #fbf1c7;
  --foreground: #282828;
  --link: #076678;
  --accent: #af3a03;
  --gray: #665c54;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/merriweather.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: url("/fonts/merriweather-italic.ttf") format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--background);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--foreground);
  font-size: 18px;
  line-height: 1.65;
}
main {
  width: 620px;
  max-width: calc(100% - 2em);
  margin: 0 auto;
  padding: 2em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.05em;
}
h5 {
  font-size: 1em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin-bottom: 1.2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.1em;
  color: var(--gray);
}
hr {
  border: none;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
