---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <Header />
      <p>
        Your intro text here. Replace this with whatever you want to say about yourself.
      </p>

      <h2>Posts</h2>
      <ul class="post-list">
        {
          posts.map((post) => (
            <li>
              <a href={`/${post.id}`}>
                {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>

<style>
  .post-list {
    list-style: none;
    padding: 0;
  }
</style>
