---
import { SITE_TITLE } from "../consts";
---

<header>
  <h1><a href="/">{SITE_TITLE}</a></h1>
  <nav>
    <!-- <a href="/notes">notes</a> -->
    <a href="/recommendations">recommendations</a>
    <a href="https://x.com/wblazer_">twitter</a>
  </nav>
</header>
<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2em;
  }
  h1 {
    font-size: 2em;
    margin: 0;
  }
  h1 a {
    color: var(--foreground);
    text-decoration: none;
  }
  h1 a:hover {
    text-decoration: none;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5em;
  }
  nav a {
    color: var(--link);
    text-decoration: none;
  }
  nav a:hover {
    text-decoration: underline;
  }
  @media (max-width: 540px) {
    header {
      display: block;
    }
    nav {
      margin-top: 0.25em;
    }
  }
</style>
