---
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description?: string;
  pubDate: Date;
}

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description || title} />
  </head>

  <body>
    <main>
      <Header />
      <article>
        <h1>{title}</h1>
        <div class="date">
          <FormattedDate date={pubDate} />
        </div>
        <div class="content">
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>

<style>
  article {
    max-width: 100%;
  }
  h1 {
    margin-bottom: 0.5em;
  }
  .date {
    color: var(--gray);
    margin-bottom: 2em;
    font-size: 0.9em;
  }
  .content {
    line-height: 1.6;
  }
</style>
